th 
{ 
    border:3px solid gray;
    text-align:center;
    font-size:18px;
}
a{
    color:black;  
}
td
{
    border-width:3px;
}
.panel-center {
    margin: 10px;
}

.btn-margin {
    margin-bottom: 10px;
}